{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - add title
{% endblock %}

{% block navbar %}
    <nav>
        <ul>
            <li>home</li>
            <li>about us</li>
        </ul>
    </nav>
{% endblock %}
