<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Default title{% endblock %}</title>
</head>

<body>
    {% block navbar %}{% endblock %}

    {% block content %}{% endblock %}

    {% include '_footer.html.twig' %}
</body>

</html>